<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <input type="text" placeholder="{{ model.firstName }}" [(ngModel)]="model.firstName"/><br />
  <br />
  <input type="text" placeholder="{{ model.lastName }}" [(ngModel)]="model.lastName" /><br />
  <br />
  <button (click)="returnFirstNameAndLastName()">Console log fullname</button><br />
  <br />
  <button (click)="returnInitialValues()">Return values</button>
  <br />
  <h3>
    First name: {{ model.firstName }}
  </h3>
  <h3>
    Last name: {{ model.lastName }}
  </h3>
  <h3>
    Full name: {{ model.firstName }} {{ model.lastName }}
  </h3>
  <h3>
    {{ model.dayMsg }}
  </h3>
  <button (click) = "finishedProjectsIncrementer()">Increment</button>
  <button (click) = "refreshIncrementer()">Refresh</button>
  <h1>
    Count increment: {{ model.finishedProjects }}
  </h1>
  <p>{{model.errorMsg}}</p>  
</div>


<router-outlet></router-outlet>
