<div class="container">
  <h1>Reactive forms</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="carForm">
    <div class="form-group">
      <label for="model">Car model</label>
      <input id="model" formControlName="model" class="form-control" type="text" >
      <div>
        <p>Model name requierd</p>
      </div>
    </div>
    <div class="form-group">
        <label for="vin">Car vin</label>
        <input id="vin" formControlName="vin" class="form-control" type="text">
        <div *ngIf="carForm.controls.vin.errors && !carForm.controls.vin.pristine">
            <div *ngIf="carForm.controls.vin.errors.minlength || carForm.controls.vin.errors.maxlength">
              <p>Vin must have 17 chars</p>
            </div>
            <div *ngIf="carForm.controls.vin.errors.required">
              <p>Vin requierd</p>
            </div>
        </div>        
      </div>
      <div class="form-group">
          <label for="year">Car year</label>
          <input id="year" formControlName="year" class="form-control" type="number" >
          <div>
            <p>Year name requierd</p>
          </div>
        </div>
        <div class="form-group">
            <label for="forSale">Car year</label>
            <input id="forSale" formControlName="forSale" class="form-control" type="checkbox" >
          </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Save</button>
  </form>
</div>
