<div class="container">
  <form #carForm="ngForm" (ngSubmit)="carSubmit()">
    <div class="form-group">
      <label for="model">Car model</label>
      <input required name="model" #model="ngModel" class="form-control" type="text" [(ngModel)]="carModel.model">
      <div [hidden]="model.valid">
        <p>Model name requierd</p>
      </div>
    </div>
    <div class="form-group">
      <label for="year">Car year</label>
      <input required name="year" #year="ngModel" class="form-control" type="number" [(ngModel)]="carModel.year">
      <div [hidden]="year.value">
        <p>Year requierd</p>
      </div>
    </div>
    <div class="form-group">
      <label for="vin">Car vin</label>
      <input name="vin" #vin="ngModel" class="form-control" [(ngModel)]="carModel.vin" 
        required minlength="17" maxlength="17" 
        placeholder="Vin code...">
      <div [hidden]="vin.value">
        <p>Vin requierd</p>
      </div>
    </div>
    <div class="form-group">
      <label for="engine">Engine select</label>
      <select required class="form-control" name="engine" #engine="ngModel" type="text" [(ngModel)]="carModel.engine">
        <option *ngFor="let engine of engines">{{engine}}</option>
      </select>
    </div>
    <div class="form-check">
      <input name="forSale" class="form-check-input" #forSale="ngModel" type="checkbox" id="forSale" [(ngModel)]="carModel.forSale">
      <label for="forSale">Is for sale?</label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Save</button>
  </form>
</div>