<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div>
    <app-add-todo (onAdd)="addToDo($event)"></app-add-todo>
  </div>
  <mat-list>
    <h3 mat-subheader>To do list</h3>
    <mat-list-item *ngFor="let todo of toDoList">
      <app-todoelement class="listrow" [todoelement]="todo"></app-todoelement>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
