<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Add todo</mat-label>
      <input #toDoElModel matInput placeholder="ex: 'Pay bills" [(ngModel)]="toDoElModel.name" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addToDo()">Add todo</button>
  </div>
  
  <mat-list>
    <mat-list-item *ngFor="let todoel of toDoList">
      <div *ngIf="todoel.editMode">
        <mat-form-field matLine>
          <input matInput [(ngModel)]="todoel.name" />
        </mat-form-field>
        <div matLine>
          <button mat-raised-button color="primary" (click)="todoel.cancel()">Cancel</button>
          <button mat-raised-button color="primary" (click)="updateToDo(todoel)">Save</button>
        </div>
      </div>

      <div *ngIf="!todoel.editMode">
        <p matLine>{{ todoel.name }}</p>
        <button matLine mat-raised-button color="primary" (click)="todoel.ediMode()">Edit</button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
