<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div>
    <input type="text" ngModel="toDoElModel.name" />
    <button (click)="addToDo()">Add todo</button>
  </div>
  <ul>
    <li *ngFor="let todoel of toDoList">
      <div *ngIf="todoel.editMode">
        <input [(ngModel)]="todoel.name" />
        <button (click)="todoel.ediMode()">Cancel</button>
        <!--<button (click)="todoel.ediMode()">Save</button>-->
      </div>
      <div *ngIf="!todoel.editMode">
        <p>{{ todoel.name }}</p>
        <button (click)="todoel.ediMode()">Edit</button>
      </div>
    </li>
  </ul>
</div>
