<div class="container">
  <div class="title-container">
    <h1>{{ title }}</h1>
  </div>
  <div #button_container class="button-container">
    <button class="home-button" routerLink='/course-library'>Angular Course</button>
    <button class="home-button" routerLink='/todo-app'>Todo App</button>
    <button class="home-button" routerLink='/garage-app'>Garage App</button>
  </div>
  <div style="top: 500px" #button_container class="button-container">
    <button class="home-button" routerLink='/user-exercise'>User exercise</button>
    <button class="home-button" routerLink='/todo-app'>Todo App</button>
    <button class="home-button" routerLink='/garage-app'>Garage App</button>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
