<div class="container">
  <div class="title-container">
    <h1>{{ title }}</h1>
  </div>
  <div #button_container class="button-container">
    <button class="home-button" routerLink='/course-library'>Angular Course</button>
    <button class="home-button" routerLink='/todo-app'>Todo App</button>
    <button class="home-button" routerLink='/garage-app'>Garage App</button>
  </div>
  <div #button_container class="button-container second">
    <button class="home-button" routerLink='/user-exercise'>User exercise</button>
    <button class="home-button" routerLink='/tictac-app'>Tic Tac Toe</button>
    <button class="home-button" routerLink='/pass-game-app'>Pass Game App</button>
  </div>
  <div #button_container class="button-container third">
    <button class="home-button" routerLink='/car-form'>Car exercise</button>
    <button class="home-button" routerLink='/tictac-app'>Tic Tac Toe</button>
    <button class="home-button" routerLink='/pass-game-app'>Pass Game App</button>
  </div>
</div>
